{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load loginza_widget %}

{% block title %}
    {% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block section %}customer-login{% endblock %}

    {% block breadcrumbs %}
    {% breadcrumbs _("Login") %}
{% endblock %}

{% block wrapper %}
<div class="page-header">

    <h1>
        {% trans 'Please select!' %}
    </h1>
</div>

<div class="row-fluid">
    <div class="span6">
    <div class="login well">
        <h3 class="authenticate">{% trans 'Login' %}</h3>

        <div class="alert alert-info">
            {% trans 'If you are already customer you can login. Your address data will be stored in your account.' %}
        </div>

        <form class="authenticate form-horizontal custom-form"
              action="{% url lfs_login %}"
              method="post">
            {% csrf_token %}

            {{ login_form|as_bootstrap:"horizontal" }}
                            

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            <div class="form-actions">
            <button type="submit"
                    class="btn btn-primary">{% trans 'Login' %}</button>
            <a class="pull-right" href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
            </div>

   
        </form>
    </div>
    </div>

</div>
<script type="text/javascript">
$("#id_username").focus();
</script>
{% endblock %}

