{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}

{% block content %}

    {% if news %}
        <h4>{{ news.title }}</h4>
        <div class="create_date">{{ news.create_date }}</div>
        <div class="full_text">
            {{ news.text|safe }}
        </div>
        
    {% else %}
        {% if category %}
            <h4>{{ category.name }}</h4>
            {% autopaginate category_news category.pagination %}
            {% for n in category_news %}
                <div class="preamble">
                    <div class="title"><h5>{{ n.title }}</h5></div>
                    <div class="description">{{ n.preamble|safe }}</div>
                    {% if n.text %}<div class="more"><a href="/info/{{ category.slug }}/{{ n.slug }}.html">Читать дальше</a></div>{% endif %}
                </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}


{% endblock %}
