
<div class="wrapp_news">
        {% for n in news %}
        <ul class="news">
            <li><a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a></li>
            {% if preamble %}
                <p>{{ n.preamble|safe }}</p>
            {% endif %}
        </ul>
        {% endfor %}

</div>
