{% load i18n lfs_tags sshop_tags %}

<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrapp_img">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>  
                </div>                      
            </div>
        </div>
        <div class="row-fluid">
                <div class="span12">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="product-description">{{ product.get_short_description|safe }}</div>
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %} <p id="price-dol_{{ product.id }}"></p> {% static_block "price" %}
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.price|floatformat }};
                                    var v2 = parseInt($('#usd').text());  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 / v2;
                                    $('#price-dol_{{ product.id }}').html(res + " $");

                              });
                    </script></span>
                </div>
            {% endif %}
            {% if product.is_deliverable %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                data="{% url lfs_select_variant_from_properties %}" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <span><input class="input-small inline" name="quantity" type="text" value="1" /> кол-во</span>
            <button class="btn">{% trans "Add to cart" %}</button>
            </form>
            {% else %}
            {% endif %}
            </div>
        </div>
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}