{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load share_widget %}
{% load url from future %}
{% load properties_tags %}
{% load lfs_portlets_tags %}
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form"
data="{% url lfs_select_variant_from_properties %}" method="post">
{% csrf_token %}

<div class="row-fluid product-detail">
    {# Images #}
    <div class="span9">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img  src="{{ product.get_image.image.url}}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
    </div>
    <div class="span3">
        <h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
        <div class="product-description">{{ product.get_short_description|safe }}</div>
                <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}"> {% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">Цена: {% price product %}  <p id="price-dol_{{ product.id }}"></p> {% static_block "price" %}
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.price|floatformat }};
                                    var v2 = parseInt($('#usd').text());  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 / v2;
                                    $('#price-dol_{{ product.id }}').html(res + " $");

                              });
                    </script></span>
                    </div>
                {% endif %}
                </div>
                 {% if product.status.show_buy_button %}
                {% if product.get_active_packing_unit %}
                <div class="product-quantity packing-unit pull-left" id="packing-url"
                data="{% url 'lfs_calculate_packing product.id' %}">
                    <input class="number quantity" name="quantity" type="text"
                    value="{{ product.default_value }}" />
                    {{ unit }}
                </div>
                {% else %}
                <div class="product-quantity">

                    <input class="number quantity input-small" name="quantity" size="3" type="text"
                    value="{{ product.default_value }}" /> кол-во&nbsp;
                </div>
                {% endif %}

                <button class="btn btn-primary emphasized" type="submit" name="add-to-cart">
                    <i class="icon-shopping-cart icon-white">
                    </i> {% trans 'Add to cart' %}</button>
        {% else %}
            <button class="btn btn-primary emphasized"
            onclick="window.location='{% url 'lfs_contact_form' %}'; return false"
            name="">
                <i class="icon-shopping-cart icon-white">
                </i>
                {% trans 'Send request' %}
            </button>
        {% endif %}
        <div> 
            <h4>Про изделие</h4>
                <div class="product-description">{{ product.get_description|safe }}</div>
        </div>
    </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{# Configurable Properties #} {% if product.is_configurable_product %}
    <div class="row-fluid">
        {% include "lfs/catalog/products/property_list.html" %}
    </div>
{% endif %}
{# Variants #} {% if product.is_variant %}
<div class="row-fluid">
    <div class="span12">
        <div class="variants">
            <h3 class="section">
                {% trans 'Variants' %}
            </h3>
            {# List #} {% if display_variants_list %}
            <table class="table table-bordered table-striped product-variants lfs-default"
            data="{% url 'lfs_select_variant' %}">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    {% for product_variant in variants|slice:"1" %}
                    {% for property in product_variant.get_variant_properties %}
                    <th>
                        {{ property.title }}
                    </th>
                    {% endfor %}
                    {% endfor %}
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                </tr>
                {% for product_variant in variants %}
                <tr>
                    <td class="select">
                        <input type="radio" class="variant" name="variant_id"
                        value="{{ product_variant.id }}"
                        {% ifequal product_variant.id product.id %}
                        checked="checked"
                        {% endifequal %} />
                    </td>
                    <td>
                        {{ product_variant.get_name }}
                    </td>
                    {% for property in product_variant.get_variant_properties %}
                    <td>
                        {{ property.value }}
                    </td>
                    {% endfor %}
               
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                {% for property in properties %}
                <div>
                    <span class="property-label">
                        {{ property.title }}:
                    </span>
                    <select class="property" name="property_{{ property.id }}">
                        {% for option in property.options %}
                        <option value="{{ option.id }}"
                        {% if option.selected %}selected="selected"{% endif %}>
                            {{ option.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
