{% load i18n %} {% load l10n %} {% load lfs_tags %}
{% comment %}
<div class="row-fluid">
    {# Displayed Properties #}
    <div class="span12">
        {% for property in product.get_displayed_properties %}
        <strong>
            {{ property.title }}:
        </strong>
        <span>
            {{ property.value }} {{ property.unit|safe }}
        </span>
        <br>
        {% endfor %}
    </div>
</div>
<br>
{% endcomment %}

    <div class="span12">
        <table class="cp-properties table table-striped table-bordered" id="cp-url" data="{% url lfs_calculate_price product.id %}">
            <tr>
                    <th>{% trans "Характеристика" %}</th>
                    <th>{% trans "Значение" %}</th>
            </tr>
            {% for property in properties %}
            <tr>
                {% if property.obj.is_select_field %}
                <td class="property-label">
                    <strong>
                        {{ property.title }}:
                    </strong>
                </td>
                <td>
                    <select class="cp-property" name="property-{{ property.id }}">
                        {% if not property.obj.required %}
                        <option>
                            ---
                        </option>
                        {% endif %} {% for option in property.options %}
                        <option value="{{ option.id }}" {% if option.selected %}selected="selected"{% endif %}>
                            {{ option.name }} 
                            {% if property.display_price %} / {{ option.price|currency:request}}{% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                {% else %}
                <td class="property-label">
                    <strong>
                        {{ property.title }}
                    </strong>
                </td>
                <td class="right">
                    {% if property.obj.is_text_field %}
                    <input class="product-input-field text-field" type="input" size="15" maxlength="100"
                    name="property-{{ property.id }}" value="{{ property.value }}" />
                    {% else %}
                    <input class="right product-input-field number-field" type="input" size="6"
                    maxlength="9" name="property-{{ property.id }}" value="{{ property.value }}" />
                    {% endif %}
                </td>
                {% comment %}
                <td>
                    {{ property.unit }}
                </td>
                {% endcomment %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        
        </div>
    </div>
